﻿@using System.Diagnostics.Eventing.Reader
@model CustomAuth.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Article details";
}

@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/ForWebUI/ArticleDetails.js"></script>

<script>
    $(document).ready(function () {
        $("#commentArticle").click(function () {
            var method = $("form#formComment").attr('method');
            var action = $("form#formComment").attr('action');
            var data = { 'textComment': $("#textComment").val() };

            $.ajax({
                type: method,
                url: action,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (comment) {
                    $("#textComment").val('');
                    $("#commentContainer").append("<div class='panel panel-default' onmouseover='ShowGlyphs(this)' onmouseout='HideGlyphs(this)' id=" + comment.Id + ">" +
                                                        "<div class='panel-body'>" +
                                                            "<img style='width: 50px; height: 50px;' src='/UserContent/" + comment.AvatarPath + "' alt='No avatar'/>" +
                                                            "<span style='font-size: 12px;'>" + "  " + comment.Author + " </span><span style='font-size: 12px;'>" + comment.Date + " </span>" +
                                                                "<div class='glyphicon glyphicon-trash hidden' style='float: right;' id='trash_" + comment.Id + "' onclick='DeleteElement(this)'></div>" +
                                                                "<div class='glyphicon glyphicon-edit hidden' style='float: right;' id='edit_" + comment.Id + "' onclick='EditComment(this)'></div>" +
                                                                "<div id='commentEditInput_" + comment.Id + "' class='editing' style='height: auto; width: 300px; text-align: center;'></div>" +
                                                                "<br/>" +
                                                                "<p style='font-size: 16px;' id='comment_" + comment.Id + "'>" + comment.TextComment + "</p>" +
                                                        "</div>" +
                                                    "</div>");
                }
            });
            return false;
        }
        );
    });
</script>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>@Model.Title</h2>
            <b>
                <span> | Published by @Model.Author</span>
                <span> | @Model.TimeAdded |</span>
                <br />
                | <i>
                    Tags:
                    @if (Model.Tags != null)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <a href="@Url.Action("ByTag", "Search", new {tag = tag.TagField})" class="btn btn-primary btn-xs">@tag.TagField</a>
                        }
                    }
                    else
                    {
                        <span>none</span>
                    }
                </i>
                <br/>
                <span> | Viewed: @Model.Views |</span>
            </b>
            <br />
            <img src="/UserContent/@Model.ImagePath" width="33%" height="30%" alt="post img" style="float: left; margin: 7px 7px 7px 7px;">
            <span style="word-wrap: break-word">@Model.Content</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="commentContainer">
            @if (Model.Comments != null)
            {
                <h4>Comments:</h4>
                foreach (var comment in Model.Comments)
                {
                    <div class="panel panel-default" onmouseover="ShowGlyphs(this)" onmouseout="HideGlyphs(this)" id="@comment.Id">
                        <div class="panel-body">
                            <img style="width: 50px; height: 50px;" src="/UserContent/@comment.AvatarPath" alt="No avatar"/>
                            <span style="font-size: 12px;">@comment.Author </span>
                            <span style="font-size: 12px;"> @comment.Date</span>
                            <div class="glyphicon glyphicon-trash hidden" style="float: right;" id="trash_@comment.Id" onclick="DeleteElement(this)"></div>
                            <div class="glyphicon glyphicon-edit hidden" style="float: right;" id="edit_@comment.Id" onclick="EditComment(this)"></div>
                            <div id="commentEditInput_@comment.Id" class="editing" style="height: auto; width: 300px; text-align: center;"></div>
                            <br/>
                            <p style="font-size: 16px;" id="comment_@comment.Id">@comment.TextComment</p>
                        </div>
                    </div>
                }
            }  
        </div>
    </div>
    <br/>
    <hr/>
    @using (Html.BeginForm("NewComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formComment", @style = "margin-left: 15px;" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="control-label">Leave a comment</label>
            <input type="text" class="form-control" name="textComment" id="textComment">
        </div>
        <input type="submit" class="btn btn-default" id="commentArticle" value="Comment" />
    }
</div>