﻿@{
    ViewBag.Title = "Home Page";
}

<hr />

<div class="row">
    <div class="col-lg-4">
        <span class="panel-body">Your login: @ViewBag.Login</span>
        <span class="panel-body">@ViewBag.IsAdminInRole</span>
    </div>
</div>