﻿@using CustomAuth.Pagination
@using CustomAuth.Utils
@model CustomAuth.ViewModels.BlogsViewModel

@{
    ViewBag.Title = "Search blogs";
}

<div class="col-lg-9">
    @if (Model.BlogViewModels.Count() != 0)
    {
        <h2>Search results</h2>
        <br />
        <table class="table table-hover" style="color: blue">
            <tr>
                @for (int i = 0; i < 5; i++)
                {
                    <th class="hidden"></th>
                }
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                @if (ViewBag.Direction == "postsDown")
                {
                    <td><a href="@Url.Action("Blogs", new { blogTitle = ViewBag.blogTitle, codeSort = 1})" class="btn btn-primary btn-xs">articles<span><i class="glyphicon glyphicon-arrow-down"></i></span></a></td>
                }
                else
                {
                    <td><a href="@Url.Action("Blogs", new { blogTitle = ViewBag.blogTitle, codeSort = 0})" class="btn btn-primary btn-xs">articles<span><i class="glyphicon glyphicon-arrow-up"></i></span></a></td>
                }
                <td></td>
            </tr>
            @foreach (var item in Model.BlogViewModels)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <span><i class="glyphicon glyphicon-user"></i> @Html.DisplayFor(modelItem => item.UserName) </span>
                    </td>
                    <td>
                        <span><i class="glyphicon glyphicon-calendar"></i> @Html.DisplayFor(modelItem => item.CreationDate) </span>
                    </td>
                    <td>
                        <span><i class="glyphicon glyphicon-pencil"></i> @Html.DisplayFor(modelItem => item.ArticleCount) </span>
                    </td>
                    <td>
                        <a href="@Url.Action("Details","Blog", new {id = item.Id})" class="btn btn-xs btn-default">read more</a>
                    </td>
                </tr>
            }
        </table>
        if (Model.PageInfo.TotalPages != 1)
        {
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Blogs", new { blogTitle = ViewBag.blogTitle, page = x }))
            </div>
        }
    }
    else
    {
        <h2 style="text-align: center">Ничего не найдено</h2>
    }
</div>
