﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Winter2015.Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Article")">HOME</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("CreateBlog", "Blog")">Create blog</a></li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Users", "Home", new {forEdit = true})">Managing Roles</a></li>
                        }
                    </ul>
                    <form class="navbar-form navbar-left" action="/Search/ByTag" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" name="tag" placeholder="enter tag here">
                        </div>
                        <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search" style="float: right"></span></button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <div class="navbar-collapse collapse">
                            @Html.Partial("_LoginPartial")
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="nav nav-list">
                            <li><a href="@Url.Action("Index", "Article")"><i class="glyphicon glyphicon-home"></i> Home</a></li>
                            <li><a href="@Url.Action("CreateArticle", "Article")"><i class="glyphicon glyphicon-edit"></i> Create article</a></li>
                            <li><a href="@Url.Action("Blogs", "Blog")"><i class="glyphicon glyphicon-picture"></i> My blogs</a></li>
                            <li><a href="@Url.Action("Users", "Home")"><i class="glyphicon glyphicon-user"></i> Users</a></li>
                            <li><a href="@Url.Action("About", "Home")"><i class="glyphicon glyphicon-question-sign"></i> Help</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Search in text</div>
                    <div class="panel-body">
                        <form class="navbar-form navbar-left" action="/Search/ByText" role="search">
                            <div class="form-group">
                                <input type="text" style="width: 170px;" class="form-control" name="substring" placeholder="Enter your text here">
                            </div>
                            <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Find blog</div>
                    <div class="panel-body">
                        <form class="navbar-form navbar-left" method="POST" action="/Search/Blogs" role="search">
                            <div class="form-group">
                                <input type="text" style="width: 170px;" class="form-control" name="blogTitle" placeholder="Blog title">
                                <button type="submit" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="body-content" id="Content">
                @RenderBody()
            </div>
        </div>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - Final blog project by Opolko for EPAM</p>
        </footer>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
